absl_py==2.2.2
aiofiles==24.1.0
aliyun_python_sdk_core==2.13.3
autogen_agentchat==0.7.1
autogen_ext==0.7.1
docx2markdown==0.1.1
immutabledict==4.2.1
langchain==0.3.27
langchain_core==0.3.72
langchain_mcp_adapters==0.1.9
langdetect==1.0.9
langsmith==0.4.10
latex2sympy2_extended==1.10.2
latex2sympy2_extended==1.10.1
math_verify==0.8.0
math_verify==0.7.0
networkx==3.3
networkx==3.4.2
nltk==3.9.1
numpy==1.23.5
numpy==1.24.4
numpy==1.24.3
openai==1.98.0
pandas==2.0.3
playwright==1.53.0
playwright==1.52.0
pydantic==2.11.7
pydantic_core==2.37.2
PyPDF2==3.0.1
python-dotenv==1.1.1
PyYAML==6.0.2
PyYAML==6.0.2
regex==2024.11.6
Requests==2.32.4
rich==14.1.0
stopit==1.1.2
sympy==1.14.0
sympy==1.13.1
sympy==1.13.3
tavily_python==0.7.7
tqdm==4.67.1
tree_sitter==0.24.0
tree_sitter_python==0.23.6
xmltodict==0.14.2
